@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 200, 0, 1);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(0, 200, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 200, 0, 0);
    }
}

.float-button {
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    transition: 1s;
    background-color: var(--background-color, #00c800);
    border-radius: 50px;
    z-index: 99999;
    animation: pulse 3s infinite;
    display: flex;
    align-items: center;
    /* Adicionado para centralizar o ícone verticalmente */

}

.float-button:hover {
    background-color: var(--background-hover, #009600);
}

.icon {
    width: 48px;
    height: 48px;
    transform: scale(0.6) translate(20%, 20%);

    fill: var(--icon-color, #fff);
}

.float-button:hover .icon {
    fill: var(--icon-hover, #fff);
}